.rs-panel-header {
    padding: 0 !important;
}

.rs-panel-btn {
    padding-top: 10px;
    padding-bottom: 10px;
}
.rs-panel-btn:hover, .rs-panel-btn:focus, .rs-panel-btn:active {
    background-color: transparent !important;
}

.rs-panel-group > .rs-panel + .rs-panel::before {
    content: none;
}
.rs-panel-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
}

.rs-anim-collapse, 
.rs-anim-collapsing,
.rs-anim-in,
.rs-panel-group .rs-panel-body-collapse {
    transition: none !important;
    animation: none !important;
}

/* Force the panel to stop "sliding" and just be there */
.collapse.in {
    transition: none !important;
}

#codex .pool{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
    gap: 8px;

    @media (max-width: 1200px ) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 800px ) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 599px ) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.protocol-sprite {
    width: 100%;
    height: 100%;
    aspect-ratio: 430 / 308;
    background-repeat: no-repeat;
    background-size: 513% 445%;
    background-position: 5% 11.4%;
}
.rs-modal .rs-modal-body {
    margin-top: 0;
    padding-bottom: 0;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 0;
}
