.rs-panel-header {
    padding: 0 !important;
}

.rs-panel-btn {
    padding-top: 10px;
    padding-bottom: 10px;
}
.rs-panel-btn:hover, .rs-panel-btn:focus, .rs-panel-btn:active {
    background-color: transparent !important;
}

.rs-panel-group > .rs-panel + .rs-panel::before {
    content: none;
}
.rs-panel-body {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
}

#codex .pool{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
    gap: 8px;

    @media (max-width: 1200px ) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 800px ) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 599px ) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 400px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.protocol-sprite {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .rs-text {
        color: var(--accent);
        font-size: 18px;
        margin-top: -30%;
    }
}
.rs-modal .rs-modal-body {
    margin-top: 0;
    padding-bottom: 0;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 0;
}

#codex .protocol {
    position: relative;
    overflow: hidden;
}
.protocol-banner {
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    border: 2px solid #333;
    width: 150px;
    position: absolute;
    top: 5px;
    right: -55px;
    color: #333;
    text-align: center;
    transform: rotateZ(45deg);
    box-shadow: 1px 1px 8px #333;

    &.cycle-1 {
        background: var(--cycle-1-color);
    }
    &.cycle-2 {
        background: var(--cycle-2-color);
    }
    &.cycle-3 {
        background: var(--cycle-3-color);
    }

    &.card-view {
        top: 15px;
        right: -45px;
    }
}
.rs-divider .rs-badge {
    color: #000;
    margin-left: 5px;
    background-color: var(--accent);
}

.tag-picker {
    width: 100%;
    margin-bottom: 10px;
    //--rs-text-secondary: var(--accent);
    --rs-picker-count-bg: var(--accent);

    .rs-picker-toggle {
        width: 100%;
    }
    .rs-picker-toggle-label {
        color: var(--accent);
    }
    .custom-options {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 5px;
        //justify-content: space-evenly;

        svg {
            color: var(--accent);
        }
    }
    .rs-picker-toggle-indicator {
        min-width: 16px;
    }
}

.rs-picker-check-menu,
.rs-picker-popup {
    .rs-picker-list-item {
        margin-left: 25px;
    }
}

.affix {
    position: sticky;
    top: -1px;
    background: var(--bg);
    margin-top: -10px;
    padding: 0 0 1px;

    .filterAccord {
        .rs-panel-header {
            button {
                padding: 0;
            }
        }
    }
}
.filteredContent {
    margin-top: 10px;
    
    .rs-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: center;
        height: 100%;
    }
}
