:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --player-1-color: #eb8ce2;
  --player-2-color: #e9a91e;
  --accent: #aa3bff;
  --accent-darker: #c084fc;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --cycle-1-color: #b66bb6;
  --cycle-2-color: #d6a128;
  --cycle-3-color: #cf0f01;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --border-light: #304e6c;
    --code-bg: #1f2028;
    --player-1-color: #eb8ce2;
    --player-2-color: #e9a91e;
    --accent: #c084fc;
    --accent-darker: #aa51fd;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    --stripe-color: #00000099;
  }
}
:root body.rs-theme-dark {
  --rs-toggle-checked-bg: var(--accent);
  --rs-toggle-checked-hover-bg: var(--accent);
  --rs-toggle-thumb: var(--accent-darker);
}

#root {
  height: 100dvh;
  width: 100dvw;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  box-sizing: border-box;
  overflow: hidden;
  background: var(--bg);
  border-inline: 1px solid var(--border);

  /*
  transform: rotate(90deg) translate(24%, 46%);
  height: 100dvw !important;
  width: 100dvh !important;
  min-height: 100svw;
  max-width: 100vh;
  */
}