.google-login-container iframe {
    color-scheme: light; /* Tells the browser the iframe should be in dark mode */
    background-color: transparent !important;
}

/* Optional: Forces the container to match your theme */
.google-login-container {
    background-color: transparent !important;
    display: inline-block;
}
.rs-radio-tile:not(.rs-radio-tile-checked) {
    border-color: var(--rs-border-primary) !important;
    background: var(--rs-bg-card) !important;
}
.rs-radio-tile-group {
    padding: 5px;
}

.rs-radio-tile-mark {
    background: var(--accent)
}
.cycle-1 .rs-radio-tile-icon svg {
    color: var(--cycle-1-color)
}
.cycle-2 .rs-radio-tile-icon svg {
    color: var(--cycle-2-color)
}
.cycle-3 .rs-radio-tile-icon svg {
    color: var(--cycle-3-color)
}