.custom-steps {
    --rs-steps-icon-state-process: var(--accent);
}
.custom-steps svg {
    position: relative;
    z-index: 2;
}
.custom-steps .rs-steps-item-icon:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    display: block;
    background: #000;
}

.cardImage {
    position: relative;
}

.errata {
    z-index: 10;
    position: absolute;
    right: 1%;
    bottom: 1%;
    filter: drop-shadow(0 0 6px #000);
}

.errataTag {
    font-weight: 700;
    text-transform: uppercase;
    background: red;
}
.errataTag span {
    color: #FFF;
}

.full-width-tooltip {
    width: 84vw !important;
    max-width: none !important;
    left: 8vw !important;
    right: 8vw !important;
    transform: none !important; /* Disables RSuite's auto-positioning logic */
    border-radius: 0; /* Optional: makes it look more like a bar */
}
.full-width-tooltip:after {
    display: none !important;
}

.pack-name span {
    color: #333;
    font-weight: 700;
}

.pack-name.cycle-1 {
    background: var(--cycle-1-color);
}
.pack-name.cycle-2 {
    background: var(--cycle-2-color);
}
.pack-name.cycle-3 {
    background: var(--cycle-3-color);
}

.carousel-parent {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carousel-parent::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
}
.errataDrawer .rs-drawer-dialog {
    background-color: #333333d1 !important;
}
.errataDrawer .rs-drawer-header .rs-drawer-title{
    font-size: 28px;
    justify-content: center;
}
.errataDrawer .rs-drawer-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.errataDrawer .rs-drawer-body > div {
    width: 100%;
    flex-grow: 0;
}
.flexBottom {
    padding-top: 10px;
    margin-top: auto;
}
.errataText {
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%;
    background: #222;
    padding: 15px;
}