.stats {
    //height: calc(100% - 20px);
    //overflow: scroll
    text-align: center;

    .data {
        margin-top: 10px;
    }

    .rs-panel-body {
        padding-left: 0;
        padding-right: 0;
    }
    .rs-card-header {
        padding-top: 10px;
    }
    .rs-card-body {
        padding: 5px;
    }
    .rs-stat-label {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .rs-stack-row {
        padding: 10px;
    }
    .rs-card-header {
        width: 100%;
    }
    .rs-card {
        margin-bottom: 10px;;
    }
    .rs-progress-circle {
        margin-top: -35px;
    }
    .rs-progress-circle-svg {
        transform: scaleX(-1);
    }

    .tier {
        position: absolute;
        top: 15px;
        right: 15px;

        .tier-level {
            &.level-S {
                color: var(--accent);
            }
            &.level-A {
                color: #14ff00;
            }
            &.level-B {
                color: #b4ff00;
            }
            &.level-C {
                color: #ffc800;
            }
            &.level-D {
                color: #ff8700;
            }
            &.level-E {
                color: #ff6400;
            }
            &.level-F {
                color: #ff0000;
            }
        }
    }
}