.stats {
    //height: calc(100% - 20px);
    //overflow: scroll
    text-align: center;

    .data {
        margin-top: 10px;
    }

    .rs-panel-body {
        padding-left: 0;
        padding-right: 0;
    }
    .rs-card-header {
        padding-top: 10px;
    }
    .rs-card-body {
        padding: 5px;
    }
    .rs-stat-label {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .rs-stack-row {
        padding: 10px;
    }
    .rs-card-header {
        width: 100%;
    }
    .rs-card {
        margin-bottom: 10px;;
    }
}