#main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app {
    flex: 1;
    margin: 10px 10px 0;
    overflow-y: auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.wip {
    font-size: 24px;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}